/**
 * Import 'Work Sans' font
 */

/* latin-ext */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v3/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v3/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Work Sans Medium'), local('WorkSans-Medium'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3j4P8lthN2fk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: local('Work Sans Medium'), local('WorkSans-Medium'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3j4P8mNhN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3o4T8lthN2fk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'), url(https://fonts.gstatic.com/s/worksans/v3/QGYpz_wNahGAdqQ43Rh3o4T8mNhN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/**
 * Global styles
 */
body {
    font-family:  "Work Sans", Arial, Helvetica, sans-serif;
    color: #737778;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.jumbotron {
    text-align: center;
    padding: 60px;
}

.lead {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1170px;
    background-color: #ffffff;
    margin: auto;
    /*border-bottom: 3px ridge gray;*/
    

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
    border-bottom: 2px solid grey;
}

.header-logo{
    float: left;
    width: 158px;
    font-family: GrandHotel, sans-serif;
    font-size: 52px;
    color: #8564c1;
    margin-left: auto;
    padding: 10px;    
}

.header-navigations{
    float: right;
    font-family: WorkSans, sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #4f6569;
    
}

a {
    text-decoration: none;
}

.header-navigations li{
    display: inline-block;
    padding: 38px 20px;
    text-decoration: none;
}
.header-navigations ul{
    margin: 0;
    padding: 0;
}


.color-link {
    background-color: #8564c1;
    color: #ffffff;
    height: 100px;
}


.content {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.tel_button {
    position:fixed;
     top:70%;
     right:3%;
     width:150px;
     height: 50px;
     padding-left: 1.2%;
     padding-top: 1.2%;
     text-align:inherit ;
     border-radius: 5px;
     background-color: #ffffff;
     box-shadow: 1px 3px 5px 0 #8564c1;
     color: #57616b;
     text-decoration-color: white;
 }


.connected {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 3px 5px 0 #dfe7eb;
    text-align: center;
}

.footer{
    padding: 100px;
}
.footer-column{
    display: inline-block;
    
}
.footer-column-text {
    margin-left: ;
    float: left;
    
}

.footer-column-button {
    margin-left: 100px;
    float: right;

}

.footer-column-bottom{
    position:relative;
    padding:50px;


}
#first-col {
    float:left;
    width:25%;
}
#sec-col {
    float:left;
    width:25%;
}
#third-col {
    float:left;
    width:25%;
}
#fourth-col {
    float:left;
    width:25%;
}
.bottom{
    display: inline;
    padding: 30px;
}

.areas{
    text-align: center;
}
.map{
    width: 900px;
    padding: 85px; 
}
.shedule {
    text-align: center;
    vertical-align: text-top;
}
.hours{
   width: 50%;
  background-color: #ffffff;
  box-shadow: 0px 3px 5px 0 #dfe7eb;
}
#col1{
    float:left;
    width:33%
}
#col2{
    float:left;
    width:33%
}
#col3{
    float:left;
    width:34%
}
.Safe {
    float: left;
    width: 50%;
}
.areas-navigations ul{
    list-style: none;
    margin:20px;
    
    }
.areas-navigations li{
    padding-right: 30px;
    padding-left: 30px;
    width: 25%;
    float: left;
    }
#table1 {
    width:100%;
    text-align:center;
    border-collapse: collapse;
}
td {
    border-bottom: 1px solid grey;
}
