
@font-face {
  font-family: 'WorkSans-Black';
  src: url('WorkSans-Black.eot?#iefix') format('embedded-opentype'),  url('WorkSans-Black.woff') format('woff'), url('WorkSans-Black.ttf')  format('truetype'), url('WorkSans-Black.svg#WorkSans-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}
