
@font-face {
  font-family: 'WorkSans-Light';
  src: url('WorkSans-Light.eot?#iefix') format('embedded-opentype'),  url('WorkSans-Light.woff') format('woff'), url('WorkSans-Light.ttf')  format('truetype'), url('WorkSans-Light.svg#WorkSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
