
@font-face {
  font-family: 'WorkSans-Thin';
  src: url('WorkSans-Thin.eot?#iefix') format('embedded-opentype'),  url('WorkSans-Thin.woff') format('woff'), url('WorkSans-Thin.ttf')  format('truetype'), url('WorkSans-Thin.svg#WorkSans-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
